name: Build and deploy Python app to Azure Web App - taskpoint-ia-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: taskpoint-ia-api
  PYTHON_VERSION: '3.13'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      # (Opcional) Só pra garantir que o requirements.txt está ok
      - name: Install dependencies (validate)
        run: |
          python -m pip install --upgrade pip
          sudo apt-get update
          sudo apt-get install -y gcc g++ unixodbc-dev
          pip install -r requirements.txt

      - name: Zip artifact for deployment
        run: |
          # Cria o release.zip contendo apenas o código do projeto
          zip -r release.zip . \
            -x "antenv/*" ".git/*" ".github/*" "__pycache__/*"

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: release.zip
